{
    // Description of devcontainer.json https://code.visualstudio.com/docs/remote/devcontainerjson-reference
    // Podman VSCode settings https://opensource.com/article/21/7/vs-code-remote-containers-podman
	"name": "Go",
	"runArgs": [ "--cap-add=SYS_PTRACE", "--security-opt", "seccomp=unconfined", "--userns=keep-id" ],
	"settings": {
		"terminal.integrated.shell.linux": "/bin/bash",
		//ms-vscode.go
		"go.toolsManagement.checkForUpdates": "local",
		"go.useLanguageServer": true,
		"go.gopath": "/go",
		"go.goroot": "/usr/local/go",
		"go.toolsGopath": "/go/bin",
		"go.formatTool": "gofmt",
        "go.lintTool": "golint",
		"go.autocompleteUnimportedPackages": true,
        "gopls": {
          "build.experimentalWorkspaceModule": true
        }
	},
	"extensions": [
		"golang.Go"
	],
    "containerUser": "${localEnv:USER}",
    "remoteUser": "${localEnv:USER}",
    "workspaceMount": "source=${localWorkspaceFolder},target=/workspace,type=bind,Z",
    "workspaceFolder": "/workspace"
}
